<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2024, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p> A blog, also known as weblog, is a type of website that is like a diary or journal. Blog organizes content in the form of categories and posts.</p>
        </article>

        <article>
            <time>published: 14.06.2024, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>A blog, also known as weblog, is a type of website that is like a diary or journal. Blog organizes content in the form of categories and posts.</p>
        </article>
    </body>
</html>











































